<footer>
  <span>
    This site is generated with ❤️ <a href="https://github.com/MelvinJMani/helix-static-gen" target="_blank" rel="noopener noreferrer">Helix</a>.
    &copy; <span id="currentYear"></span> All Rights Reserved
  </span>
</footer>